.modalDiv {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  background-color: hsl(var(--b1) / 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  /* z-index: 10 */
}
.playdateModal {
  background-color: hsl(var(--b2));
  border-radius: 5px;
  z-index: 1;
}

.playdate-modal {
  border: none;
}
