.modalDiv {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  background-color: color-mix(in oklab, var(--color-base-100) 70%, transparent);
  display: flex;
  justify-content: center;
  align-items: center;
  /* z-index: 10 */
}
.playdateModal {
  background-color: var(--color-base-200);
  border-radius: 5px;
  z-index: 1;
}

.playdate-modal {
  border: none;
}
