@media screen and (max-width: 460px) {
  .discover-cardview-parent {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-around;
  }
}

@media screen and (min-width: 460px) {
  .discover-cardview-parent {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    height: 100vh;
    /* border: solid green; */
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .blank {
    top: 20%;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    animation-name: fadeIn;
    animation-duration: 1.5s;
    animation-iteration-count: once;
  }

  .blank-content {
    display: flex;
    flex-flow: column nowrap;
    align-items: start;
    justify-content: start;
    background-color: white;
    padding: 40px;
    border-radius: 16px;
    box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0.1);
  }

  .dog-icon {
    scale: 4;
    align-self: center;
    padding: 30px;
  }

  .blank-title {
    font-size: 3.5em;
    font-weight: bold;
  }

  .blank-subtitle {
    font-size: 1.5em;
    font-weight: normal;
    width: 400px;
  }

  .card-stack {
    /* top: 20%; */
    width: 800px;
    height: 90vh;
    overflow: none;
    /* position: relative; */
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin: auto;
    /* gap: -20px; */
    /* border: solid red; */
  }

  .profile-card:nth-last-child(1) {
    margin-top: 0px;
    height: fit-content;
    width: fit-content;
    /* border: solid blue; */
    /* transform: translate(-50%,0); */
  }

  .profile-card:nth-last-child(2) {
    margin-top: 55px;
    scale: .9;
    transform: translate(-5%,0);
    opacity: 1;
  }


  .profile-card:nth-last-child(3) {
    margin-top: 135px;
    scale: .7;
    transform: translate(-22%,0);
    opacity: .4;
  }

  .profile-card {
    position: absolute;
    top: 0px;
    left: 0px;
    margin-top: 10px;
    align-self: center;
    left: 50%;
    top: 15%;
  }

  .card-wrapper {
    position: relative;
    height: fit-content;
    width: fit-content;
    /* border: solid purple; */
    transform: translate(-50%,0);
  }

  .buttons {
    display: flex;
    flex-flow: rownowrap;
    width: 70%;
    align-items: center;
    position: absolute;
    justify-content: space-between;
  }

  @keyframes back-mount {
    0% {
    }
    100% {
      transform: translate(-5%, 0);
      scale: .9;
      margin-top: 55px;
      opacity: 1;
    }
  }

  .back-mount {
    animation-name: back-mount;
    animation-duration: .5s;
    animation-iteration-count: once;
  }

  @keyframes mount {
    0% {
    }
    100% {
      transform: translate(0, 0);
      scale: 1;
      margin-top: 0px;
    }
  }

  .mount {
    animation-name: mount;
    animation-duration: .5s;
    animation-iteration-count: once;
  }

  @keyframes goOut {
    0% {
      opacity: 1;
      transform-origin: center;
    }
    100% {
      opacity: 0;
      transform: rotate(10deg) translate(20%, 0);
      transform-origin: center;
    }
  }

  .unmount {
    animation-name: goOut;
    animation-duration: .5s;
    animation-iteration-count: once;
    z-index: 2;
  }


  @keyframes pass {
    0% {
      opacity: 1;
      /* transform: rotate(10deg); */
      /* transform: rotate(0); */

    }
    100% {
      opacity: 0;
      /* transform: translate(-50%, 0); */
      transform: rotate(-10deg) translate(-20%, 0);
      transform-origin: bottom left;
    }
  }

  .pass-unmount {
    animation-name: pass;
    animation-duration: .5s;
    animation-iteration-count: once;
    z-index: 2;
  }

  @keyframes floatGreen {
    0% {
      box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0);
    }
    50% {
      box-shadow: 0 0 20px 5px rgba(0, 141, 0, 0.5);
    }
    100% {
      box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0);
    }
  }

  @keyframes floatRed {
    0% {
      box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0);
    }
    50% {
      box-shadow: 0 0 15px 2px rgba(209, 1, 1, 0.5);
    }
    100% {
      box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0);
    }
  }

  .vote-button {
    scale: 2;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }

  .digg {
    animation-name: floatGreen;
  }

  .pass {
    animation-name: floatRed;
  }

  .no-image-drag {
    -webkit-user-drag: none;
    -moz-user-select:none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
  }
}